/* DEFAULT TEst */

* {
    -webkit-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    margin:0;
    padding: 0;
    font-family: Avenir, sans-serif;
    background: #202125;
}

main {
    margin: 0 0 13vh 0;
    padding: 5vh 5vw;
}

hr {
    margin: 0;
    padding: 0;
}

.small-arrow-hover:hover{
    color:#b3adad;
}


/* NAVIGATION */

nav {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202125;
}

.nav-button {
    flex: 1;
    padding: 1vh 0;
    text-align: center;
    text-decoration: none;
}

.nav-text {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: dimgray;
}

.fa-arrow-right {
    margin: 0;
    padding: 0;
    color: lightskyblue;
    opacity: 0.7;
}

.fa-arrow-left {
    margin: 0;
    padding: 0;
    color: lightskyblue;
    opacity: 0.7;
}

.nav-button:active, .selected-nav span, .selected-nav p  {
    color: lightskyblue;
}

.unselected-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgray;
}



/* SEARCH BAR */

.search-container {
    margin: 0;
    padding: 0 3vw;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 black;
    background-color: #303135;
}

.search-icon-container {
    display: flex;
    align-items: center;
}

.search .form-control-left {
    margin: 0;
    padding: 0;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search .form-control {
    padding-top: 0.7rem;
    border: 0;
    color: white;
    height: 100%;
}

.setting-btn,.setting-btn:active,.setting-btn:focus{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    box-shadow: none;
    outline:none;
}



.search .form-control {
    padding-top: 0.7rem;
    border: 0;
    height: 100%;
    background: #303135;
}

.setting-btn,.setting-btn:active,.setting-btn:focus{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color:white;
    height: 2.25rem;
    box-shadow: none;
    background:#303135;
    outline:none;
}


/* HOME PAGE */

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

/* PROFILE PAGE */

.profile-section {

}

.username {
    margin: 0 0 0 5vw;
    padding: 0;
}

#profile-section {

}

#profile-text-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#profile-text {
    float: left;
    width: 90%;
    color: white;
}

#profile-arrow {
    margin: 5vh 0 0 0;
    float: right;
    width: 10%;
    cursor: pointer;
    color: lightskyblue;
}

#profile-pic-section {
    margin: 2vh 0;
    text-align: center;
}

#symptoms-btn {
    margin: 2vh 0 0 0;
    padding: 1vh 3vw;
    font-size: 0.75rem;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.check-symptoms-container {
    width: 100%;
    margin: 3vh 0 0 0;
    padding: 1vh 1vw 1vh 3vw;
    display: inline-block;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-align: left;
    color: white;
    background-color: #303135;
}

.check-symptoms-text {
    margin: 0 15% 0 0;
    padding: 0;
    float: left;
    width: 75%;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.check-symptoms-text a {
    text-decoration: none;
    color:white;
}

.check-symptoms-text a:hover{
    color:#b3adad;
}

.check-symptoms-text p {
    margin: 0;
    padding: 0;
}

.check-symptoms-arrow {
    margin: 0;
    padding: 0;
    float: right;
    width: 10%;
    text-align: center;
}

#profile-page-carousels {

}

.profile-page-title {
    margin: 3vh 0 1vh 0;
    font-weight: bold;
    padding: 0;
    font-size: 1.3rem;
    color : white;
}

.profile-page-carousel {
    margin: 1vh 2vw;
    padding: 2vh 5%;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    min-width: 175px;
    min-height: 125px;
    cursor: pointer;
}

.carousel-read-length {
    margin: 0;
    padding: 0;
    height: 20%;
    font-size: 0.65rem;
    color: #b3adad;
}

.carousel-title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    height: 65%;
    color: white;
}

.carousel-topic {
    margin: 0;
    padding: 0;
    height: 15%;
    font-size: 0.8rem;
    color: lightskyblue;
}

.virus-carousel {
    background: url(../res/graphics/virus-full.png);
    background-size: 100% 100%;
    background-color:#303135 ;
}

.syringe-carousel {
    background: url(../res/graphics/syringe-full.png);
    background-size: 100% 100%;
    background-color:#303135 ;
}

.carousel-read-length {
    margin: 0;
    padding: 0;
    height: 20%;
    font-size: 0.65rem;
}

.carousel-title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    height: 65%;
}

.carousel-topic {
    margin: 0;
    padding: 0;
    height: 15%;
    font-size: 0.8rem;
    color: lightskyblue;
}


/* STATISTICS PAGE */

.search-section {

}

.searchbox {
    padding: 1vh 1vw;
    width: 100%;
}

#local-section {
    color:white;
}

.location {
    margin: 3vh 0 0 5vw;
    padding: 0;
    color: #b3adad;
    font-size: 0.7rem;
}

.stage {
    margin: 0 0 0 5vw;
    padding: 0;
}

#local-details-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.statistics-page-carousel{
    min-width: 125px;
    min-height: 125px;
    background: #303135;
}

.local-details-box {
    width: 27vw;
    padding: 2vh 3vw;
    margin: 10px;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);}

.box-title {
    margin: 0 0 3vh 0;
    padding: 0;
    color: #b3adad;
    font-size: 0.7rem;
}

.box-number {
    margin: 1vh 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.box-date {
    margin: 0;
    padding: 0;
    color: #b3adad;
    font-size: 0.8rem;
}

.global-details-buttons {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.global-details-btn-container {
    width: 50%;
    text-align: center;
}

.global-details-btn-container i {
    color: lightskyblue;
}

.global-details-btn {
    padding-bottom: 1vh;
    color: lightskyblue;
    font-size: 0.8rem;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.selected-btn {
    border-bottom: 3px solid lightskyblue;
}

#nationwide-details {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nationwide-details-box {
    margin-top: 3vh;
    padding: 2vh 3vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: #303135;
    color:white;
}


/* NEWS PAGE */

#nationwide-news {

}

#worldwide-news {

}

.news-container {
    display: flex;
    margin: 2vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    cursor: pointer;
    background: #303135;
}

.news-text-section {
    flex: 3;
    margin-right: 3vw;
    color: white;
}

.news-img-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: end;
    flex-direction: column;
}

.news-img-section img {
    background-color: #303135;
    width: 75px;
    height: 75px;
}

.news-source {
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
    color: #b3adad;
}

.news-title {
    margin: 1vh 0 0 0.75%;
    font-size: 1rem;
    font-weight: bolder;
}

.news-desc {
    margin: 0.5vh 0 0 0.75%;
    padding: 0;
    font-size: 0.65rem;
    color: #b3adad;
}


/* SETTINGS PAGE */

.settings-page-container {
    margin: 0 0 -13vh 0;
    padding: 0;
}

.header-container {
    margin: 0 0 2vh 0;
    color:white;
}

.header-arrow {
    margin: 0 3vw;
    padding: 0;
    display: inline;
}

.header-title {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.4rem;
    font-weight: bold;
}

.settings-box-container {
    margin: 3vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background: #303135;
}


.settings-topic {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: white;
}

.settings-title {
    margin: 2vh 0 0 0;
    font-size: 1.2rem;
    font-weight: bolder;
    color:white;
}

.settings-selected {
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: grey;
}

.toggle-container {
    display: flex;
}

.toggle-container-text {
    flex: 3;
}

.toggle-container-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.remove-button {
    display: inline;
    margin: 0 1vw 0 0;
    padding: 1vh 3vw;
    font-size: 0.65rem;
    text-align: center;
    background-color: #D32F2F;
    color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.change-button {
    display: inline;
    margin: 0;
    padding: 1vh 3vw;
    font-size: 0.65rem;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.pic-settings-container {
    margin: 0 0 2vh 0;
    padding: 0;
    display: flex;
    flex-direction:column;
}

.pic-settings-text {
}

.pic-settings-btns {
    margin: 0.5vh 0 0 0;
    padding: 0;
    text-align: left;
}

/* SYMPTOMS FORM PAGE */

.submit-form-container {
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: right;
}

.symptoms-subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: grey;
}

.symptoms-selected {
    margin: 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: white;
}

.clear-button {
    display: inline;
    margin: 0 3vw 0 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: #D32F2F;
    color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.clear-buttton-X {
    margin: 0 0 0 4vw;
    padding: 0;
    display: inline;
}

.submit-button {
    display: inline;
    margin: 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.submit-input {
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    color: white;
    border: 0;
}

.submit-button-arrow {
    margin: 0 0 0 4vw;
    padding: 0;
    color: white;
}


/* SYMPTOMS RESULTS PAGE */

.positive {
    background-color: #aed6fd;
}

.positive-top-section {
    margin: 0;
    padding: 0;
    display: flex;
}

.positive-title-container {
    margin: 0;
    padding: 0;
    flex: 9;
}

.positive-arrow-container {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: right;
}

.positive-arrow {
    color: dodgerblue;
}

.positive-title {
    margin: 0 0 1vh 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: dodgerblue;
}

.positive-desc {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: dodgerblue;
}

.positive-desc p {
    margin: 0;
    padding: 0;
}

.positive-only-contact-nhs {
    margin: 2vh 0 0 0;
    padding: 0;
    font-size: 0.9rem;
    color: #de524a;
}

.negative-only-contact-nhs {
    margin: 2vh 0 0 0;
    padding: 0;
    font-size: 0.9rem;
    color: #e96b64;
}

.negative {
    background-color: #f8c4c1;
}

.negative-top-section {
    margin: 0;
    padding: 0;
    display: flex;
}

.negative-title-container {
    margin: 0;
    padding: 0;
    flex: 9;
}

.negative-arrow-container {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: right;
}

.negative-arrow {
    color: #e96b64;
}

.negative-title {
    margin: 0 0 1vh 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e96b64;
}

.negative-desc {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #e96b64;
}

.negative-desc p {
    margin: 0;
    padding: 0;
}

.symptoms-ul {
    margin-bottom: 0;
}

.symptoms-li {
    font-size: 0.9rem;
}

.help-btn-container {
    margin: 2vh 0 0 0;
    padding: 0;
    text-align: right;
    color: white;
}

.help-button {
    margin: 0;
    padding: 0.75vh 2vw;
    font-size: 0.9rem;
    text-align: center;
    background-color: #6099DA;
    color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.help-button-arrow {
    margin: 0 0 0 2vw;
    padding: 0;
    color: white;
}


/* DETAILS PAGE */

.details-img-container {
    margin: 3vh 0 0 0;
    text-align: center;
}

.negative-last-checked {
    margin: 3vh 0 0 0;
    padding: 0;
    font-size: 0.8rem;
    color: #e96b64;
}

.positive-last-checked {
    margin: 3vh 0 0 0;
    padding: 0;
    font-size: 0.8rem;
    color: dodgerblue;
}

.positive-symptom {
    color: dodgerblue;
}

.negative-symptom {
    color: #D32F2F;
}

.last-checked-date {
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 0.8rem;
    color: white;
}

.erase-data-container {
    margin: 0;
    padding: 0;
    text-align: right;
}

.erase-button {
    margin: 0;
    padding: 1vh 3vw;
    font-size: 2.3vh;
    text-align: center;
    background-color: #D32F2F;
    color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}


