/* DEFAULT */

* {
    -webkit-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    margin:0;
    padding: 0;
    font-family: Avenir, sans-serif;
}

main {
    margin: 0 0 13vh 0;
    padding: 5vh 5vw;
}

hr {
    margin: 0;
    padding: 0;
}

.small-arrow-hover:hover{
    color:black;
}

/* NAVIGATION */

nav {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.nav-button {
    flex: 1;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
}

.nav-button:active {
    background-color: #e1e1e1;
}

.fa-user {
    margin-bottom: 0.5vh;
    padding: 0;
    color: dimgray;
}

.fa-cog {
    margin-bottom: 0.5vh;
    padding: 0;
    color: dimgray;
}

.fa-newspaper {
    margin-bottom: 0.5vh;
    padding: 0;
    color: dimgray;
}

.fa-chart-bar {
    margin-bottom: 0.5vh;
    padding: 0;
    color: dimgray;
}

.nav-text {
    margin: 0;
    padding: 0;
    color: dimgray;
}

.fa-arrow-right {
    margin: 0;
    padding: 0;
    color: gray;
    opacity: 0.7;
}

.fa-arrow-left {
    margin: 0;
    padding: 0;
    color: gray;
    opacity: 0.7;
}

.selected-nav i {
    color: dodgerblue;
}

.selected-nav p {
    color: dodgerblue;
}


/* SEARCH BAR */
.search .form-control {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
}

.search .form-control-left {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.setting-btn,.setting-btn:active,.setting-btn:focus{
    background-color: white;
    color:white;
    height: 2.330rem;
    box-shadow: none;
	background:none;
	outline:none;
}



/* HOME PAGE */

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

/* PROFILE PAGE */

.profile-section {

}

.username {
    margin: 0 0 0 5vw;
    padding: 0;
}

#profile-section {

}

#profile-text-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#profile-text {
    float: left;
    width: 90%;
}

#profile-arrow {
    margin: 5vh 0 0 0;
    float: right;
    width: 10%;
    cursor: pointer;
}

#profile-pic-section {
    margin: 2vh 0;
    text-align: center;
}

#symptoms-btn {
    margin: 2vh 0 0 0;
    padding: 1vh 3vw;
    font-size: 0.75rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.check-symptoms-container {
    width: 100%;
    margin: 3vh 0 0 0;
    padding: 1vh 1vw 1vh 3vw;
    display: inline-block;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-align: left;
}

.check-symptoms-text {
    margin: 0 15% 0 0;
    padding: 0;
    float: left;
    width: 75%;
    font-size: 0.9rem;
    font-weight: bold;
}

.check-symptoms-text a {
    text-decoration: none;
    color:#545454;
}

.check-symptoms-text a:hover{
    color:black;
}

.check-symptoms-text p {
    margin: 0;
    padding: 0;
}

.check-symptoms-arrow {
    margin: 0;
    padding: 0;
    float: right;
    width: 10%;
    text-align: center;
}

#profile-page-carousels {

}

.profile-page-title {
    margin: 3vh 0 1vh 0;
    font-weight: bold;
    padding: 0;
    font-size: 1.3rem;
}

.profile-page-carousel {
    margin: 1vh 2vw;
    padding: 2vh 5%;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    min-width: 175px;
    min-height: 125px;
}

.carousel-read-length {
    margin: 0;
    padding: 0;
    height: 20%;
    font-size: 0.65rem;
}

.carousel-title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    height: 65%;
}

.carousel-topic {
    margin: 0;
    padding: 0;
    height: 15%;
    font-size: 0.8rem;
    color: dodgerblue;
}



/* STATISTICS PAGE */

.search-section {

}

.searchbox {
    padding: 1vh 1vw;
    width: 100%;
}

#local-section {

}

.location {
    margin: 3vh 0 0 5vw;
    padding: 0;
    color: dimgray;
    font-size: 0.7rem;
}

.stage {
    margin: 0 0 0 5vw;
    padding: 0;
}

#local-details-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    align-items: center;
    justify-content: space-between;
}

.statistics-page-carousel{
    min-width: 125px;
    min-height: 125px;
}

.local-details-box {
    width: 27vw;
    padding: 2vh 3vw;
    margin: 10px;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.box-title {
    margin: 0 0 3vh 0;
    padding: 0;
    color: dimgray;
    font-size: 0.7rem;
}

.box-number {
    margin: 1vh 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.box-date {
    margin: 0;
    padding: 0;
    color: dimgray;
    font-size: 0.8rem;
}

.global-details-buttons {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.global-details-btn-container {
    width: 50%;
    text-align: center;
}

.global-details-btn-container i {
    color: dodgerblue;
}

.global-details-btn {
    padding-bottom: 1vh;
    color: dodgerblue;
    font-size: 0.8rem;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.selected-btn {
    border-bottom: 3px solid dodgerblue;
}

#nationwide-details {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nationwide-details-box {
    margin-top: 3vh;
    padding: 2vh 3vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


/* NEWS PAGE */

#nationwide-news {

}

#worldwide-news {

}

.news-container {
    display: flex;
    margin: 2vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.news-text-section {
    flex: 3;
    margin-right: 3vw;
}

.news-img-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: end;
    flex-direction: column;
}

.news-img-section img {
    background-color: blue;
    width: 75px;
    height: 75px;
}

.news-source {
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
    color: #545454;
}

.news-title {
    margin: 1vh 0 0 0.75%;
    font-size: 1rem;
    font-weight: bolder;
}

.news-desc {
    margin: 0.5vh 0 0 0.75%;
    padding: 0;
    font-size: 0.65rem;
    color: dimgray;
}


/* SETTINGS PAGE */

.settings-page-container {
    margin: 0 0 -13vh 0;
    padding: 0;
}

.header-container {
    margin: 0 0 2vh 0;
}

.header-arrow {
    margin: 0 3vw;
    padding: 0;
    display: inline;
}

.header-title {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.4rem;
    font-weight: bold;
}

.settings-box-container {
    margin: 3vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.settings-topic {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #545454;
}

.settings-title {
    margin: 2vh 0 0 0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.settings-selected {
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: #545454;
}

.toggle-container {
    display: flex;
}

.toggle-container-text {
    flex: 3;
}

.toggle-container-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* SYMPTOMS FORM PAGE */

.submit-form-container {
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: right;
}

.symptoms-subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: gray;
}

.symptoms-selected {
    margin: 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: gray;
}

.clear-button {
    display: inline;
    margin: 0 3vw 0 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: #f8c4c1;
    color: #e96b64;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.clear-buttton-X {
    margin: 0 0 0 4vw;
    padding: 0;
    display: inline;
}

.submit-button {
    display: inline;
    margin: 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.submit-input {
    margin: 0;
    padding: 0;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
}

.submit-button-arrow {
    margin: 0 0 0 4vw;
    padding: 0;
    color: dodgerblue;
}


/* SYMPTOMS RESULTS PAGE */

.positive {
    background-color: mediumseagreen;
}

.negative {
    background-color: #f8c4c1;
}

.negative-top-section {
    margin: 0;
    padding: 0;
    display: flex;
}

.negative-title-container {
    margin: 0;
    padding: 0;
    flex: 9;
}

.negative-arrow-container {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: right;
}

.negative-arrow {
    color: #e96b64;
}

.negative-title {
    margin: 0 0 1vh 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e96b64;
}

.negative-desc {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #e96b64;
}

.negative-desc p {
    margin: 0;
    padding: 0;
}

.symptoms-ul {
    margin-bottom: 0;
}

.symptoms-li {
    font-size: 0.9rem;
}

.help-btn-container {
    margin: 2vh 0 0 0;
    padding: 0;
    text-align: right;
}

.help-button {
    margin: 0;
    padding: 0.75vh 2vw;
    font-size: 0.9rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.help-button-arrow {
    margin: 0 0 0 2vw;
    padding: 0;
    color: dodgerblue;
}


/* DETAILS PAGE */

.details-img-container {
    margin: 3vh 0 0 0;
    text-align: center;
}

.negative-last-checked {
    margin: 3vh 0 0 0;
    padding: 0;
    font-size: 0.8rem;
    color: #e96b64;
}