/* DEFAULT TEst */

* {
    -webkit-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
    height: 100vh;
    width: 100vw;

    color: #282828;
}

main {
    margin: 0;
    padding: 0 5vw 3vh 5vw;
}

hr {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    height: fit-content;
}

ul {
    margin: 0;
}

p,
li {
    font-size: 1.75vh;
}

.small-arrow-hover:hover{
    color:black;
}




.small__text {
    font-size: 0.7rem;
}

.small-title__text {
    font-size: 3vh;
    font-weight: bolder;
}





.horizontal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.vertical__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





.profile-picture__image {
    height: 20vh;
    width: auto;
    border-radius: 5000px;
    box-shadow: 0 8px 25px 0 darkgrey;
}




/* NAVIGATION */

nav {
    width: 100%;
    padding: 0.25rem;

    position: fixed;
    display: flex;
    bottom: 0;

    background-color: #F2F2F2;

    justify-content: space-around !important;

    transition: all 0.5s;
}

nav > a {
    width: 33.333%;
}

nav span {
    color: #7B7B7B;
}


/* SEARCH BAR */

.search-bar__container {
    position: fixed !important;
    top: 0;
    padding: 3vh 0 0 0 !important;
    width: 100vw;
    margin: 0;
    z-index: 10;
    background-color: white;
}

.search-bar__box{
    padding: 1.25vh !important;
    justify-content: space-between !important;

    color: #63676C;
}

.search-bar__box .horizontal__container {
    justify-content: space-between !important;
}

.search-bar__box span {
    font-size: 2.5vh;
}

.search-bar__box p {
    font-size: 2vh;
}

.search-bar__box .horizontal__container > span {
    margin-right: 0.5rem;
}

.search-bar__box a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.search-bar__filler {
    position: unset !important;
    visibility: hidden;
}

/* REGULAR BOX */

.box {
    position: relative;

    width: 90vw;

    margin: 0 2vw;
    padding: 2vh 5vw;

    cursor: pointer;

    border-radius: 10px;
    border: 1px solid #CDCDCD;
    box-shadow: 0 1px 6px 0 darkgrey;

    background-color: white;

    overflow: hidden;
}

.box .box-image {
    height: 7.5rem;
    width: auto;

    position: absolute;
    bottom: calc(-7.5rem / 3);
    right: calc(-7.5rem / 3);

    opacity: 0.35;
}

.box.vertical__container {
    align-items: flex-start;
}

.box.vertical__container > *:not(img) {
    width: 100%;
    margin: 0.75vh 0;
}

.box .small-title__text {
    font-size: 2.5vh;
}

.box:first-child:not(.search-bar__box) {
    margin-left: 0;
}

.box:last-child:not(.search-bar__box) {
    margin-right: 0;
}

.accent__box {
    background-color: #B4D5F9 !important;
}

.opposite__box {
    background-color: #F6BDBA !important;
}


.hidden {
    height: 0 !important;
    transition: all 0.3s;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 2vh !important;
    padding-bottom: 2vh;
    box-shadow: 0 1px 6px 0 darkgrey;
    /* border: 0.5px solid #CDCDCD; */
    width: 100%;
    background-color: white;
    z-index: 10;

    max-height: 100vh;

    transition: all 0.5s;
}

header > * {
    width: 90vw;
}

.home {
    position: unset;
    margin: 0;
}

.home__header {
    width: 85vw;
}

.home__header > * {
    margin: 2vh 0;
}

.home__header .horizontal__container:first-child {
    justify-content: space-between;
    align-items: center;
}

.home__header .vertical__container:first-child {
    justify-content: flex-start;
    align-items: flex-start;
}


.tab__header {
    padding-bottom: 0 !important;
}




.sub-menu__header {
    padding: 4.5vh 2vw 3vw 2vw;
}

.sub-menu__header .horizontal__container {
    justify-content: flex-start;
}

.sub-menu__header .horizontal__container > * {
    padding: 0;
    margin: 0 2.5vw;
}

.sub-menu__header a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



#stats-header > *:last-child {
    margin: 0;
}

#stats-header #local-stats > *:not(:last-child) {
    margin: 2vh 0 2vh 0;
}

#stats-header .d-flex > .box {
    min-width: 6.75rem;
}



#tabs-header.horizontal__container {
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 0;
}

#tabs-header button {
    position: relative;
    font-weight: bold;
    border: 0;
    background-color: transparent;
}

#tabs-header button > * {
    margin: 0 0.75vw 10% 0.75vw;
}

.selected-tab::after {
    content : "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 3px solid #1086fc;
}


#search-header .horizontal__container {
    width: 100%;
}





input[type=search] {
    width: 100%;

    font-size: 2.75vh;
    color: #7B7B7B;

    border: none;
    outline: none;
    padding-bottom: 1vh !important; 
    border-bottom: 1.5px solid #a7a7a7;

    transition: all 0.2;
}

input[type=search]:focus {
    color: #282828;
     
    border-bottom: 1.5px solid #282828;

    transition: all 0.2;
}

::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}




.d-flex {
    padding: 0.5rem;
    -webkit-overflow-scrolling: touch;
}

.d-flex::-webkit-scrollbar {
    display: none;
}


.home__main > * {
    margin: 1.5vh 0 !important;
}

.home__main .vertical__container {
    align-items: flex-start;
}



#profile-main .horizontal__container:first-child,
#profile-details-main .horizontal__container:first-child,
#symptoms-form-main > .box:not(:nth-child(2)) > .horizontal__container {
    justify-content: space-between;
}

#profile-main .d-flex > .box {
    min-width: 12rem;
}



#stats-main .vertical__container > *{
    margin: 1vh 0 !important;
}

#stats-main .box .small-title__text {
    font-size: 3.5vh;
}

#news-main .box > * {
    margin: 0 2.5vw !important;
}

#news-main .vertical__container > * {
    margin: 0.75vh 0 !important;
}

#news-main > .horizontal__container {
    padding: 0.5rem !important;
    justify-content: space-between;
}

#news-main .box .small-title__text,
#symptoms-form-main .box:first-child .small-title__text {
    margin-bottom: 0.5vh;
    font-size: 2.15vh;
}

#news-main .box img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}


#profile-details-main > * {
    margin: 1.5vh 0 !important;
}



#search-main > *,
#symptoms-form-main > * {
    margin: 2.5vh 0 !important;
}

#profile-details-main #display-checks-history > .horizontal__container,
#symptoms-form-main #form-action-buttons.horizontal__container,
#symptoms-form-main #symptoms-results .horizontal__container,
#search-main #search-action-buttons.horizontal__container {
    justify-content: flex-end;
}

#symptoms-form-main #form-action-buttons.horizontal__container > *,
#search-main #search-action-buttons.horizontal__container > * {
    margin: 0 2vw;
}

#search-main .box .small-title__text {
    font-size: 2.15vh;
}


/* HOME PAGE */

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.username {
    margin: 0 0 0 5vw;
    padding: 0;
}

#profile-text-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#profile-text {
    float: left;
    width: 90%;
}

#profile-arrow {
    margin: 5vh 0 0 0;
    float: right;
    width: 10%;
    cursor: pointer;
}

#profile-pic-section {
    margin: 2vh 0;
    text-align: center;
}

#symptoms-btn {
    margin: 2vh 0 0 0;
    padding: 1vh 3vw;
    font-size: 0.75rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.check-symptoms-container {
    width: 100%;
    margin: 3vh 0 0 0;
    padding: 1vh 1vw 1vh 3vw;
    display: inline-block;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 darkgrey;
    cursor: pointer;
    text-align: left;
}

.check-symptoms-text {
    margin: 0;
    padding: 0;
    float: left;
    width: 80%;
    font-size: 0.9rem;
    font-weight: bold;
}

.check-symptoms-text a {
    text-decoration: none;
    color:#545454;
}

.check-symptoms-text a:hover{
    color:black;
}

.check-symptoms-text p {
    margin: 0;
    padding: 0;
}

.check-symptoms-arrow {
    margin: 0;
    padding: 0;
    float: right;
    width: 20%;
    text-align: center;
}

.profile-page-title {
    margin: 3vh 0 1vh 0;
    font-weight: bold;
    padding: 0;
    font-size: 1.3rem;
}

.syringe-carousel {
    background: url(../res/graphics/syringe-full.png);
    background-size: 100% 100%;
}


.accent__color {
    color: #1086fc;
}

.opposite__color {
    color: #e96b64;
}

.grey__color {
    color: #7B7B7B !important;
}

.virus-carousel {
    background: url(../res/graphics/virus-full.png);
    background-size: 100% 100%;
}
.carousel-read-length {
    margin: 0;
    padding: 0;
    height: 20%;
    font-size: 0.65rem;
}
.carousel-title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    height: 65%;
}

.carousel-topic {
    margin: 0;
    padding: 0;
    height: 15%;
    font-size: 0.8rem;
    color: dodgerblue;
}



/* STATISTICS PAGE */

.search-section {

}

.searchbox {
    padding: 1vh 1vw;
    width: 100%;
}

#local-section {

}

.location {
    margin: 3vh 0 0 5vw;
    padding: 0;
    color: dimgray;
    font-size: 0.7rem;
}

.stage {
    margin: 0 0 0 5vw;
    padding: 0;
}

#local-details-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    align-items: center;
    justify-content: space-between;
}

.statistics-page-carousel{
    min-width: 125px;
    min-height: 125px;
}

.local-details-box {
    width: 27vw;
    padding: 2vh 3vw;
    margin: 10px;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.box-title {
    margin: 0 0 3vh 0;
    padding: 0;
    color: dimgray;
    font-size: 0.7rem;
}

.box-number {
    margin: 1vh 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.global-details-buttons {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.global-details-btn-container {
    width: 50%;
    text-align: center;
}

.global-details-btn-container i {
    color: dodgerblue;
}

#nationwide-details {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nationwide-details-box {
    margin-top: 3vh;
    padding: 2vh 3vw;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 darkgrey;
}


/* NEWS PAGE */

#nationwide-news {

}

#worldwide-news {

}

.news-container {
    display: flex;
    margin: 2vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 darkgrey;
    width: 100%;
    cursor: pointer;
}

.news-text-section {
    flex: 3;
    margin-right: 3vw;
}

.news-img-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: end;
    flex-direction: column;
}

.news-img-section img {
    width: 75px;
    height: 75px;
}

.news-source {
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
    color: #545454;
}

.news-title {
    margin: 1vh 0 0 0.75%;
    font-size: 1rem;
    font-weight: bolder;
}

.news-desc {
    margin: 0.5vh 0 0 0.75%;
    padding: 0;
    font-size: 0.65rem;
    color: dimgray;
}

/* SETTINGS PAGE */

.settings-box-container {
    margin: 3vh 0 0 0;
    padding: 2vh 5%;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 darkgrey;
    width: 100%;
}

.settings-topic {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #545454;
}

.settings-title {
    margin: 2vh 0 0 0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.settings-selected {
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: #545454;
}

.toggle-container {
    display: flex;
}

.toggle-container-text {
    flex: 3;
}

.toggle-container-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.remove-button {
    display: inline;
    margin: 0 1vw 0 0;
    padding: 1vh 3vw;
    font-size: 0.65rem;
    text-align: center;
    background-color: #f8c4c1;
    color: #e96b64;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.change-button {
    display: inline;
    margin: 0;
    padding: 1vh 3vw;
    font-size: 0.65rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.pic-settings-container {
    margin: 0 0 2vh 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.pic-settings-text {

}

.pic-settings-btns {
    margin: 0.5vh 0 0 0;
    padding: 0;
    text-align: left;
}

/* SYMPTOMS FORM PAGE */

.submit-form-container {
    margin: 3vh 0 0 0;
    padding: 0;
    text-align: right;
}

.symptoms-subtitle, .symptoms-subtitle-ul li {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: gray;
}

.symptoms-subtitle-ul {
    margin-bottom: 0;
}

.symptoms-selected {
    margin: 2vh 0;
    padding: 0;
    font-size: 0.9rem;
    color: gray;
}

.clear-button {
    display: inline;
    margin: 0 3vw 0 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: #f8c4c1;
    color: #e96b64;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.clear-buttton-X {
    margin: 0 0 0 4vw;
    padding: 0;
    display: inline;
}

.submit-button {
    display: inline;
    margin: 0;
    padding: 1vh 3vw;
    font-size: 1.1rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.submit-input {
    margin: 0;
    padding: 0;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
}

.submit-button-arrow {
    margin: 0 0 0 3vw;
    padding: 0;
    color: dodgerblue;
}

.positive {
    background-color: #aed6fd;
}

.positive-top-section {
    margin: 0;
    padding: 0;
    display: flex;
}

.positive-title-container {
    margin: 0;
    padding: 0;
    flex: 9;
}

.positive-arrow-container {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: right;
}

.positive-arrow {
    color: dodgerblue;
}

.positive-title {
    margin: 0 0 1vh 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: dodgerblue;
}

.positive-desc {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: dodgerblue;
}

.positive-desc p {
    margin: 0;
    padding: 0;
}

.positive-symptom {
    color: dodgerblue;
}

.negative-symptom {
    color: #e96b64;
}

.last-checked-date {
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 0.8rem;
    color: grey;
}

.positive-only-contact-nhs {
    margin: 2vh 0 0 0;
    padding: 0;
    font-size: 0.9rem;
    color: red;
}

.negative-only-contact-nhs {
    margin: 2vh 0 0 0;
    padding: 0;
    font-size: 0.9rem;
    color: #e96b64;
}

.negative {
    background-color: #f8c4c1;
}

.negative-top-section {
    margin: 0;
    padding: 0;
    display: flex;
}

.negative-title-container {
    margin: 0;
    padding: 0;
    flex: 9;
}

.negative-arrow-container {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: right;
}

.negative-arrow {
    color: #e96b64;
}

.negative-title {
    margin: 0 0 1vh 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e96b64;
}

.negative-desc {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #e96b64;
}

.negative-desc p {
    margin: 0;
    padding: 0;
}

.symptoms-li {
    font-size: 0.9rem;
}

.help-btn-container {
    margin: 2vh 0 0 0;
    padding: 0;
    text-align: right;
}

.help-button {
    margin: 0;
    padding: 0.75vh 2vw;
    font-size: 0.9rem;
    text-align: center;
    background-color: #aed6fd;
    color: dodgerblue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.help-button-arrow {
    margin: 0 0 0 2vw;
    padding: 0;
    color: dodgerblue;
}

.erase-data-container {
    margin: 0;
    padding: 0;
    text-align: right;
}

.erase-button {
    margin: 0;
    padding: 1vh 3vw;
    font-size: 1rem;
    text-align: center;
    background-color: #f8c4c1;
    color: #e96b64;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 darkgrey;
}



/* DETAILS PAGE */

.details-img-container {
    margin: 3vh 0 0 0;
    text-align: center;
}

.negative-last-checked {
    margin: 3vh 0 0 0;
    padding: 0;
    font-size: 0.8rem;
    color: #e96b64;
}

.positive-last-checked {
    margin: 3vh 0 0 0;
    padding: 0;
    font-size: 0.8rem;
    color: dodgerblue;
}


/* SIGNUP PAGES */

body {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blue-theme {
    background-color: #1086fc;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blue-theme .carrousel-circle__active {
    background-color: #FFFFFF;
}

.blue-theme .signup__title, .blue-theme .signup__subtitle {
    color: #FFFFFF;
}

.signup__page {
    height: 100vh;
    width: 100vw;
}

.signup__page > div:not(.signup-bottom__container) {
    height: 90vh;
}

.signup-top__container {
    height: 27.5vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
}

.signup__title {
    font-size: 4.5vh;
    font-weight: bolder;

    color: #282828;
}

.signup__subtitle {
    font-size: 2.15vh;

    color: #282828;
}

.signup__subtext {
    font-size: 1.7vh;

    color: #6D6D6D;
}

.signup-middle__container {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.signup-middle__sub-container {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#perms .signup-middle__container {
    align-items: center;
}

#perms .signup-middle__sub-container {
    height: fit-content;
    margin: 0.75rem;
    padding: 1rem;

    text-align: center;

    border: 1px solid #CDCDCD;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

#perms .signup-middle__sub-container h1 {
    margin-top: 0;
}

#perms .signup-middle__sub-container *:not(h1) {
    margin: 0;
}

.signup-middle__container img:not(#signup-profile-pic) {
    width: auto;
    height: auto;
    max-width: auto;
    max-height: auto;

    padding: 2vh 2vw;
}

.signup-middle__sub-container .profile-picture__image {
    height: 80% impo !important;
}

.signup-bottom__container {
    position: relative;
    bottom: 5vw;
    width: 90vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.signup-actions__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row; 
}

.signup-carrousel-indicators__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;  
}

.carrousel-circle {
    width: 1.1vh;
    height: 1.1vh;
    margin: 1.1vw;

    border: 1px solid #CDCDCD;
    background-color: #B4D5F9;

    -webkit-border-radius: 1.1vh;
    -moz-border-radius: 1.1vh;
    border-radius: 1.1vh;

    transition: all 0.2s;
}

.carrousel-circle__active {
    border: 1px solid #282828;
    background-color: #1086fc;

    transition: all 0.2s;
}

.button {
    padding: 1vh 3vw;
    font-size: 2vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #CDCDCD;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.button span {
    font-size: 2.5vh;
    margin-left: 2.75vw;
}

.small__button {
    font-size: 1.5vh !important;
}

.small__button span {
    font-size: 1.75vh !important;
    margin-left: 2vw !important;
}

.next__button {
    background-color: #aed6fd;
    color: #1086fc;
}

.skip__button {
    background-color: #f8c4c1;
    color: #e96b64;
}

.edit__button {
    padding: 1vh 4vw;
    position: relative;
    bottom: 2vh;

    background-color: whitesmoke;
    color: #1086fc;
    border-radius: 500px;
    box-shadow: 0 1px 6px 0 darkgrey;
}

.signup-input__container {
    height: 4.5vh;
    text-align: left !important;
    margin: 1rem;
}

.signup-input__container > label {
    position: relative;
    bottom: 2.25rem;
    left: 3vw;

    background-color: white;
    padding: 0;
    font-size: 0.85rem;
    transition: all 0.2s;
    color: #CDCDCD;

    pointer-events: none;
}

.signup-input {
    height: 2.5rem;
    padding: 0 3vw;
    border: 1.5px solid #CDCDCD;
    border-radius: 5px;
    width: 100%;
    font-size: 0.95rem;

    transition: all 0.2s;
}

.signup-input-error {
    border: 2px solid #E96B82;

    transition: all 0.2s;
}

.signup-input:focus, .signup-input:valid {
    border: 2px solid #1086fc;
    
    transition: all 0.2s;
}
  
.signup-input:focus~label, .signup-input:valid~label {
    bottom: 3.35rem;
    color: #1086fc;
    font-size: 0.7rem;
    padding: 0.05rem 0.25rem;

    transition: all 0.2s;
}

.signup-input-error + label {
    color: #E96B82;

    transition: all 0.2s;
}