# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jonat\Desktop\Uni\Year 3\CS317\group project\MDB5-STANDARD-UI-KIT-Free-3.3.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
